<h1>Team</h1><br>

<table>
    <tbody>
        <tr>
            <th>Name</td>
            <th>Role</td>
            <th>Email</td>
            <th>Delete</td>
        </tr>
        <tr>
            <td><%="#{@team.manager.user.first_name} #{@team.manager.user.last_name} "%></td>
            <td><%= @team.manager.role %></td>
            <td><%=@team.manager.user.email%></td>
            <td>Owner</td>
        </tr>

      <% @team.team_members[1..-2].each do |member| %>
        <tr>
            <td><%="#{member.user.first_name} #{member.user.last_name} "%></td>
            <td><%= member.role %></td>
            <td><%= member.user.email%></td>
            <td><%= link_to 'Destroy', project_team_member_path(member.project, member), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>

      </tbody>
      </table>

      <%= form_for([@team.project, @team_member]) do |f| %>
        <% if @team_member.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@team_member.errors.count, "error") %> prohibited this project from being saved:</h2>

            <ul>
            <% @team_member.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

      <div class="border_top">

        <div class="field form-group addmember">
            <%= f.collection_select(:user_id, User.all, :id, :first_name,{:prompt => 'Add a member'}, class: "input-sm") %>
        </div>

        <div class="field form-group addmember">
            <%= f.select :role, [Team::ROLES[1], Team::ROLES[2], Team::ROLES[3]],{:prompt => 'Add role'}, class: "input-sm"%>
        </div>
        <%= f.hidden_field :team_id, :value => @team.id %></td>

        <div class="actions addmember">
            <%= f.submit "Add Member", class: "btn btn-primary btn-sm"%>
        </div>
        <% end %>
      </div>
