<p><b>Project:</b> <em><%= @project.name %></em> - <b>Phase:</b> <em><%= @phase.name %></em></p>
<%= form_for([@project, @phase, @sprint]) do |f| %>
  <% if @sprint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sprint.errors.count, "error") %> prohibited this sprint from being saved:</h2>

      <ul>
      <% @sprint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_select :start_date, disabled: true %>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_select :end_date %>
  </div>

  <div class="field">
    <%= f.label 'What have you done?' %>
    <%= f.text_field :things_done %>
  </div>

  <div class="field">
    <%= f.label 'Estimated sprint points' %>
    <%= f.number_field :est_points, disabled: true %>
  </div>

  <div class="field">
    <%= f.label 'Actual sprint points' %>
    <%= f.number_field :act_points  %>
  </div>

  <div class="field">
    <%= f.label 'What have you learned?' %>
    <%= f.text_field :things_learned %>
  </div>

  <% @sprint.experiments.each do |exp| %>
    <h2><%= exp.name %></h2>
    <%= f.fields_for :experiments, exp do |ff| %>
    <div>
      <%= ff.label :interviews_planned %>
      <%= ff.number_field :interviews_planned, disabled: true %>
    </div>
    <div>
      <%= ff.label :interviews_done %>
      <%= ff.number_field :interviews_done %>
    </div>
    <div>
      <%= ff.label :early_adopters_planned %>
      <%= ff.number_field :early_adopters_planned, disabled: true %>
    </div>
    <div>
      <%= ff.label :early_adopters_converted %>
      <%= ff.number_field :early_adopters_converted %>
    </div>
    <% end %>

  <% end %>

  <%= f.hidden_field :phase_id, value: @phase.id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
