<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sprint.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @sprint.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @sprint.end_date %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @sprint.completed %>
</p>

<%= link_to 'Edit', edit_project_phase_sprint_path(id: @sprint.id) %> |
<%= link_to 'Back', sprints_path %>
