<p id="notice"><%= notice %></p>

<p><b>Project:</b> <em><%= @project.name %></em> - <b>Phase:</b> <em><%= @phase.name %></em></p>

<p>
  <strong>Name:</strong>
  <%= @sprint.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @sprint.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @sprint.end_date %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @sprint.completed %>
</p>

<%= link_to 'Edit', edit_project_phase_sprint_path(@project.id, @phase.id) %> |
<%= link_to 'List', project_phase_sprints_path(@project.id, @phase.id) %>
