<p id="notice"><%= notice %></p>

<h3>Active Projects</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <% if project.active == true %>
        <td><%= link_to project.name, project %></td>
        <td><%= project.description %></td>
        <td><%= is_active?(project) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>

</table>

<br>

<h3><%= link_to 'Create a new project..', new_project_path %> </h3>
<br>
<h2> Past Projects </h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <% if project.active == false %>
        <td><%= link_to project.name, project %></td>
        <td><%= project.description %></td>
        <td><%= is_active?(project) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>

</table>
