<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @project.active %>
</p>

<div class="phase_overview">
  <table class="phase_table">
    <tr class="top_row">
      <th>Current</th>
      <th>Phase</th>
      <th>Start date</th>
      <th>End date</th>
    </tr>
    <% @project.phases.order(:sequence).each do |phase| %>
      <tr>
        <td>
        <% if @project.current_stage_id == phase.id %>
          <span class="glyphicon glyphicon-check boxes"></span>
        <% else %>
          <span class="glyphicon glyphicon-unchecked boxes"></span>
        <% end %>
      </td>
        <td><%= link_to phase.name, project_phase_path(@project.id, phase) %></td>
        <td><%= phase.start_date.strftime("%d %B %Y") %></td>
        <td><%= phase.end_date.strftime("%d %B %Y") %></td>
      </tr>
    <% end %>
  </table>
  <br>
  <%= link_to 'New phase', new_project_phase_path(@project.id), :class => 'btn btn-large btn-success' %>
</div>

<% if can? :update, @project %>
  <%= link_to 'Edit project', edit_project_path(@project) %>
<% end %>
<% if can? :destroy, @project %>
  <%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<%= link_to 'List', projects_path %>
