
<%= form_for([@project, @phase, @experiment]) do |f| %>
  <% if @experiment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experiment.errors.count, "error") %> prohibited this experiment from being saved:</h2>

      <ul>
      <% @experiment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label 'Experiment name:'%>
    <%= f.text_field :name, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :start_date %>
    <%= f.date_select :start_date, { ampm: true, order: [:day, :month, :year] }, { class: "form-control" } %>
  </div>

  <div class="field form-group">
    <%= f.label :end_date %>
    <%= f.date_select :end_date, { ampm: true, order: [:day, :month, :year] }, { class: "form-control" } %>
  </div>

  <h3>Method</h3>
  <div class="field form-group">
    <%= f.label "I believe that" %>
    <%= f.text_field :domain, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label '...will result in...' %>
    <%= f.text_field :assumption, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label 'Method' %>
    <%= f.text_field :method, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :success_criteria %>
    <%= f.text_field :success_criteria, class:"form-control", placeholder: "We are right if" %>
  </div>

  <h3>Measurement</h3>

  <div class="field form-group">
    <%= f.label  'How do we measure?' %>
    <%= f.text_field :measure, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label 'Measure 1' %>
    <%= f.text_field :metric_1, class:"form-control" %>
    <%= f.label  'Success target for measure 1' %>
    <%= f.number_field :target_succes_metric_1, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label 'Measure 2' %>
    <%= f.text_field :metric_2, class:"form-control" %>
    <%= f.label  'Success target for measure 2' %>
    <%= f.number_field :target_succes_metric_2, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label 'Measure 3' %>
    <%= f.text_field :metric_3, class:"form-control" %>
    <%= f.label  'Success target for measure 3' %>
    <%= f.number_field :target_succes_metric_3, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label 'Measure 4' %>
    <%= f.text_field :metric_4, class:"form-control" %>
    <%= f.label  'Success target for measure 4' %>
    <%= f.number_field :target_succes_metric_4, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label 'Measure 5' %>
    <%= f.text_field :metric_5, class:"form-control" %>
    <%= f.label  'Success target for measure 5' %>
    <%= f.number_field :target_succes_metric_5, class:"form-control" %>
  </div>

  <h3>Conclusions</h3>


  <div class="field form-group">
    <%= f.label 'What did we observe?' %>
    <%= f.text_field :observation, class:"form-control" %>
  </div>


  <div class="field form-group">
    <%= f.label 'What have we learned?' %>
    <%= f.text_field :learned, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label 'What are the next actions?' %>
    <%= f.text_field :action, class:"form-control" %>
  </div>

  <%= f.hidden_field :phase_id, value: @phase.id %>

  <div class="actions">
    <%= f.submit "Submit", class: "btn-primary" %>
  </div>
<% end %>
