<p id="notice"><%= notice %></p>

<p><b>Project:</b> <em><%= @project.name %></em> - <b>Phase:</b> <em><%= @phase.name %></em></p>

<p>
  <strong>Name:</strong>
  <%= @experiment.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @experiment.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @experiment.end_date %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @experiment.completed %>
</p>

<br>
<p>
  <strong>Interviews planned:</strong>
  <%= @experiment.interviews_planned %>
</p>

<p>
  <strong>Interviews done:</strong>
  <%= @experiment.interviews_done %>
</p>

<br>
<p>
  <strong>Early adopters planned:</strong>
  <%= @experiment.early_adopters_planned %>
</p>
<p>
  <strong>Early adopters converted:</strong>
  <%= @experiment.early_adopters_converted %>
</p>

<hr>
<%= link_to 'Edit', edit_project_phase_experiment_path(@project.id, @phase.id) %> |
<%= link_to 'List', project_phase_experiment_path(@project.id, @phase.id) %>
