<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @experiment.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @experiment.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @experiment.end_date %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @experiment.completed %>
</p>

<%= link_to 'Edit', edit_experiment_path(@experiment) %> |
<%= link_to 'Back', experiments_path %>
