<%= form_for([@phase.project, @phase]) do |f| %>
  <% if @phase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@phase.errors.count, "error") %> prohibited this phase from being saved:</h2>

      <ul>
      <% @phase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.datetime_select :start_date %>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.datetime_select :end_date %>
  </div>

  <div class="field">
    <%= f.label :interval %>
    <%= f.number_field :interval %>
  </div>

  <div class="field">
    <%= f.label :sequence %>
    <%= f.number_field :sequence %>
  </div>

  <div class="field">
    <%= f.label :long_term_vision %>
    <%= f.text_area :long_term_vision %>
  </div>

  <div class="field">
    <%= f.label :kpi_s %>
    <%= f.text_area :kpi_s %>
  </div>

  <div class="field">
    <%= f.label :criteria %>
    <%= f.text_area :criteria %>
  </div>

  <div class="field">
    <%= f.label :bottlenecks %>
    <%= f.text_area :bottlenecks %>
  </div>

  <div class="field">
    <%= f.label :problem_definition %>
    <%= f.text_area :problem_definition %>
  </div>

  <div class="field">
    <%= f.label :solutions %>
    <%= f.text_area :solutions %>
  </div>

  <div class="field">
    <%= f.label :long_term %>
    <%= f.text_area :long_term %>
  </div>

  <div class="field">
    <%= f.label :key_benefits %>
    <%= f.text_area :key_benefits %>
  </div>

  <div class="field">
    <%= f.label :vision %>
    <%= f.text_area :vision %>
  </div>

  <div class="field">
    <%= f.label :test_first %>
    <%= f.text_area :test_first %>
  </div>

  <div class="field">
    <%= f.label :proof_of_value %>
    <%= f.text_area :proof_of_value %>
  </div>

  <div class="field">
    <%= f.label :background %>
    <%= f.text_area :background %>
  </div>

  <div class="field">
    <%= f.label :note %>
    <%= f.text_area :note %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
