<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @phase.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @phase.end_date %>
</p>

<p>
  <strong>Interval:</strong>
  <%= @phase.interval %>
</p>

<p>
  <strong>Sequence:</strong>
  <%= @phase.sequence %>
</p>

<p>
  <strong>Long term vision:</strong>
  <%= @phase.long_term_vision %>
</p>

<p>
  <strong>Kpi s:</strong>
  <%= @phase.kpi_s %>
</p>

<p>
  <strong>Criteria:</strong>
  <%= @phase.criteria %>
</p>

<p>
  <strong>Bottlenecks:</strong>
  <%= @phase.bottlenecks %>
</p>

<p>
  <strong>Problem definition:</strong>
  <%= @phase.problem_definition %>
</p>

<p>
  <strong>Solutions:</strong>
  <%= @phase.solutions %>
</p>

<p>
  <strong>Long term:</strong>
  <%= @phase.long_term %>
</p>

<p>
  <strong>Key benefits:</strong>
  <%= @phase.key_benefits %>
</p>

<p>
  <strong>Vision:</strong>
  <%= @phase.vision %>
</p>

<p>
  <strong>Test first:</strong>
  <%= @phase.test_first %>
</p>

<p>
  <strong>Proof of value:</strong>
  <%= @phase.proof_of_value %>
</p>

<p>
  <strong>Background:</strong>
  <%= @phase.background %>
</p>

<p>
  <strong>Note:</strong>
  <%= @phase.note %>
</p>

<%= link_to 'Edit', edit_project_phase_path(@phase.project, @phase) %> |
<%= link_to 'Back', project_phases_path(@phase.project) %>
