<p id="notice"><%= notice %></p>

<h1>
  <%= @phase.name %>
</h1>

<p>
  <strong>Start date:</strong>
  <%= @phase.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @phase.end_date %>
</p>

<p>
  <strong>Interval:</strong>
  <%= @phase.interval %>
</p>

<p>
  <strong>Sequence:</strong>
  <%= @phase.sequence %>
</p>

<p>
  <strong>Long term vision:</strong>
  <%= @phase.long_term_vision %>
</p>

<p>
  <strong>Kpi s:</strong>
  <%= @phase.kpi_s %>
</p>

<p>
  <strong>Criteria:</strong>
  <%= @phase.criteria %>
</p>

<p>
  <strong>Bottlenecks:</strong>
  <%= @phase.bottlenecks %>
</p>

<p>
  <strong>Problem definition:</strong>
  <%= @phase.problem_definition %>
</p>

<p>
  <strong>Solutions:</strong>
  <%= @phase.solutions %>
</p>

<p>
  <strong>Long term:</strong>
  <%= @phase.long_term %>
</p>

<p>
  <strong>Key benefits:</strong>
  <%= @phase.key_benefits %>
</p>

<p>
  <strong>Vision:</strong>
  <%= @phase.vision %>
</p>

<p>
  <strong>Test first:</strong>
  <%= @phase.test_first %>
</p>

<p>
  <strong>Proof of value:</strong>
  <%= @phase.proof_of_value %>
</p>

<p>
  <strong>Background:</strong>
  <%= @phase.background %>
</p>

<p>
  <strong>Note:</strong>
  <%= @phase.note %>
</p>

<div class="phase_overview">
  <% if @phase.experiments.length > 0 %>
    <table class="phase_table">
      <tr class="top_row">
        <th>Completed</th>
        <th>Experiment</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Interviews completion</th>
        <th>Early adopters conversion</th>
      </tr>
      <% @phase.experiments.order(:start_date).each do |experiment| %>
        <tr>
          <th>
          <% if experiment.completed %>
            [x]
          <% else %>
            [ ]
          <% end %>
          </th>
          <th><%= link_to experiment.name, project_phase_experiment_path(@project.id, @phase.id) %></th>
          <th><%= experiment.start_date.strftime("%d %B %Y") %></th>
          <th><%= experiment.end_date.strftime("%d %B %Y") %></th>
          <th><%= experiment.interviews_completion[:number] %>
            (<%= number_to_percentage(experiment.interviews_completion[:ratio] * 100, options = {precision: 2}) %>)</th>
          <th><%= experiment.early_adopters_conversion[:number] %>
            (<%= number_to_percentage(experiment.early_adopters_conversion[:ratio] * 100, options = {precision: 2}) %>)</th>
        </tr>
      <% end %>
    </table>
    <%= link_to('Create new experiment', new_phase_in_project_path, :class => 'btn btn-large btn-success')  %>
  <% else %>
    <p> No experiments added yet</p>
    <%= link_to('Create first experiment', new_phase_in_project_path, :class => 'btn btn-large btn-success')  %>
  <% end %>
</div>

<hr>

<%= link_to 'Edit', edit_project_phase_path(@phase.project, @phase) %> |
<%= link_to 'Back', project_phases_path(@phase.project) %>
